# WIP - to be modified

# Copy this file to your own config.yml and edit as needed.

# The sheet that will be used for the report output.
google_sheets_filename: demo_gitflow_dashboard

# A separate sheet which contains a list of staff members, used to
# correlate staff with their GitHub account, Git commit author email,
# etc.
team_list_sheet_filename: demo_gitflow_dashboard_team

# Branches to use for the report.
master_branch: master
develop_branch: develop
include: [ .*feature.*, .*hotfix.* ]

# API information.
api_endpoint: https://api.github.com
org: jeff-zohrab
repo: demo_gitflow
