# Copy this file to your own config.yml and edit as needed.
# You can have multiple config files, eg, config.yml.test, config.yml.genome, etc.

# Branches to use for the report.
report:
  master_branch: master
  develop_branch: develop
  include: [ .*feature.*, .*hotfix.* ]

# GitHub repo.
github:
  owner: jeff-zohrab
  repo: demo_gitflow

# Local repo
local_repo:
  repo_dir: ../demo_gitflow
  remote_name: origin

  # Optional:
  fetch: true
  prune: true
  verbose: false
